<!DOCTYPE html>
<html lang="en">
<head>
    {include '../partials/head.latte'}
    <title>{$title ?? 'Welcome'}</title>
    {block head}{/block}
</head>
<body class="bg-deep text-body antialiased font-body">
    {include '../partials/nav.latte'}
    {block content}{/block}
    {include '../partials/footer.latte'}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-php.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-yaml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-bash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-markup-templating.min.js"></script>
    {block scripts}{/block}
</body>
</html>
